.pasirinkburbula {
  display: flex;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;
  }

.burbulas {
  width: 33.33333%;
  height: 33.33333%;
  text-align: center;
  padding: 20px;
     
}

.burbulas img :hover {

  
}

.burbulas img {
  max-width: 100%;
  border-radius: 50%;
}

.select-date {
  font-size: 25px;
}


.social {
  width: 40px;
}
  
.parallax img {
  max-width: 100%;
}